name: Flutter CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.16.0'

    - name: Install dependencies
      run: flutter pub get

    - name: Run tests
      run: flutter test

    - name: Increment version
      run: |
        # 读取当前版本号
        VERSION=$(grep version pubspec.yaml | awk '{print $2}' | tr -d '"')
        # 提取版本号和构建号
        IFS='+' read -r VERSION_BASE BUILD_NUMBER <<< "$VERSION"
        # 递增构建号
        NEW_BUILD_NUMBER=$((BUILD_NUMBER + 1))
        # 更新版本号
        NEW_VERSION="$VERSION_BASE+$NEW_BUILD_NUMBER"
        # 替换pubspec.yaml中的版本号
        sed -i "s/version: .*/version: \"$NEW_VERSION\"/" pubspec.yaml
        # 显示新版本号
        echo "New version: $NEW_VERSION"

    - name: Build web
      run: flutter build web

    - name: Build APK
      run: flutter build apk

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-apk
        path: build/app/outputs/flutter-apk/app-release.apk

    - name: Upload web build
      uses: actions/upload-artifact@v4
      with:
        name: web-build
        path: build/web
